* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

#root {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(88, 51, 15);
    color: white;
    font-family: 'Source Code Pro', monospace;
    background: linear-gradient(rgba(48, 44, 8, 0.8), rgba(63, 54, 14, 0.815)), url("./images/4267068.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 100%;
    width: 100%;
}

.mid-container {
    position: relative;
    height: 100%;
    width: 60%;
    margin: auto;
    padding: 0;
}

.main-header h1 {
    margin: 0;
    padding-top: 50px;
    font-size: 3.3rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.timer {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}

.timer h1 {
    font-size: 3rem;
    margin: 0;
}

.center-of-mid {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%);
}

.typer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55rem;
    text-align: center;
}

.results-container h1 {
    width: 60rem;
    text-align: center;
}

.word-container-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    outline: none;
}

.word-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 15px;
    padding: 15px;
}

.word {
    display: flex;
    padding-bottom: 5px;
}

.letter {
    margin: 0;
    transition: color 0.15s ease;
}

.letter:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.letter:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.letter.correct {
    color: rgba(0, 255, 0, 0.6);
    background-color: rgb(6, 24, 1);
}

.letter.incorrect {
    color: rgb(202, 6, 6);
    background-color: rgb(53, 2, 2);
}

.letter.incorrectTemp {
    color: rgb(221, 92, 92);
    background-color: rgba(223, 172, 172, 0.336);
}

.letter.active {
    text-decoration: underline;
    text-decoration-color: rgb(209, 168, 32);
    color: rgb(209, 168, 32);
    background-color: rgba(209, 168, 2, 0.1);
}

.restart-btn {
    display: flex;
    margin-top: 40px;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    color: rgb(255, 251, 0);
    padding: 5px;
    border: none;
    transition: color 0.3s ease, transform 0.5s ease;
}

.restart-btn:hover {
    color: rgb(255, 242, 124);
    transform: scale(1.2) rotateZ(180deg);
}

.restart-btn:active {
    transform: scale(0.9) rotateZ(180deg)
}